*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    


}



.hu{
    width:100%;
    height:50px ;
    background-color:rgb(245, 209, 235);
    color:white;
padding-left: 10px;
padding-bottom: 5px;
padding-top: 5px;
font-weight: bold;
display:flex;
position:sticky;


}
.hv{
display :flex;
justify-content: center;
align-items: center;
color:rgb(29, 27, 27);
position:sticky;
font-size:20px;
}
.hv ul{

    list-style: none;
}
.hv ul li{

    width:170px;
    text-align: center;
    float:left;
    font-size: smaller;
}

.hv ul li:hover>ul{
display:block;
} 
.bod{
    
    height:500px;
    background-image:url(ll.webp);
    opacity: 60%;
    
}

.bod p1{
    color:rgb(22, 22, 22);
    font:italic;
    font-size:100px;
    float:right;
}
.bod p5{
    color:rgb(22, 22, 22);
    font:bold;
    font-size: 30px;
    float:right;
}
.bod p6{
    color:rgb(22, 22, 22);
    font-family: italic;
    margin-top:20%;
    margin-left:25%;
    font:bold;
    font-size: 30px;
    float:right;
}

.j {
    height:450px;
    width:550px;
    margin-left:10px;
}


.la{

    margin-bottom: 0;
    background-color:rgb(245, 209, 235);
    color:rgb(32, 29, 29);
    height:80px;
    text-align:center;
        text-size:15px;
    
}

.bod p3{
    font-size: 18px;
    font-style: bold;
    position:fixed;
    bottom:0;
    right:0;
    margin:10px;
}